<div class="usa-logo grid-row flex-align-center" id="extended-logo">
  <em class="usa-logo__text grid-col-auto">
    <a href="{{site.baseurl}}/" class="grid-row" aria-label="Home">
      <div class="grid-col-4 tablet:grid-col-3">  
        <img src="{{ '/assets/img/icsp-logo-no-text.png' | relative_url }}" alt="logo: Interagency Council on Statistical Policy (ICSP)">
      </div>
      <span class="font-sans-md tablet:font-sans-lg text-secondary-darker margin-0 grid-col-8 tablet:grid-col-9 text-bold padding-left-1 flex-align-self-center">Interagency Council on Statistical Policy</span> 
    </a>
  </em>
</div>